@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgba(var(--global-primary-colour));
}

.logo {
    font-size: 30px;
    background-color: rgba(var(--global-primary-colour), 0.4);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height:60%
}

.navButton {
    background-color: rgba(var(--global-primary-colour), 0.4);
    height:100%;
    border:solid 2px blue;
    padding: 0px 10px 0px 10px;
}

.navButton:hover {
    transition: all 0.2s ease-in-out;
    border:solid 2px  rgb(var(--global-tertiary-colour));
    background-color: rgba(var(--global-secondary-colour), 0.4);
    color: rgb(var(--global-tertiary-colour));
    text-decoration: underline;
}
