@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #202060;
    color: white;
}

.logo {
    font-size: 30px;
    background-color: #202060;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%
}

.events,
.dates,
.locations,
.report {
    text-decoration: none;
    color: white;
    background-color: #202060;
    font-size: 40px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.events:hover {
    transition: all 0.2s ease-in-out;
    background: #202060;
    color: #fca311;
    text-decoration: underline;
}
.dates:hover {
    transition: all 0.2s ease-in-out;
    background: #202060;
    color: #fca311;
    text-decoration: underline;
}
.locations:hover {
    transition: all 0.2s ease-in-out;
    background: #202060;
    color: #fca311;
    text-decoration: underline;
}
.login {
    background-color: #fca311;
    border: 10px solid #fca311;
    border-radius: 13px;
    font-size: 25px;
    padding-bottom: 27px;
    color: #008037;
}

.login:hover {
    transition: all 0.2s ease-in-out;
    background: white;
    color: rgb(160, 3, 3);
    border: 10px solid white;
}

.button {
    color: #202060;
}
