/* @tailwind base;
@tailwind components;
@tailwind utilities; */

tbody tr:nth-child(odd) {
  background-color: #d7d7d78c;
}

tbody tr:nth-child(even) {
  background-color: #a2a2a2ba;
}

table {
  background-color: rgba(var(--global-secondary-colour), 0.4);
}

.pagination_button {
  padding: 5px;
  margin: 10px 10px;
  font-size: 1.2rem;
  background-color: rgba(240, 248, 255, 0);
}

.pagination_button:hover {
  color: black;
  background-color: rgba(240, 248, 255, 0);
}
