/* 
GOOGLE FONTS

font-family: 'Andada Pro', serif;
font-family: 'Archivo', sans-serif;
font-family: 'Epilogue', sans-serif;
font-family: 'Hahmlet', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Josefin Sans', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,600;0,800;1,400&family=Archivo:ital,wght@0,100;0,800;1,100&family=Epilogue:wght@100;200;300;400;600;900&family=Hahmlet:wght@100;200;700;900&family=Josefin+Sans:ital,wght@0,600;0,700;1,500&family=Nunito+Sans:ital,wght@0,200;0,400;1,400&family=Poppins:ital,wght@0,200;0,300;0,600;0,800;1,300&display=swap");

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./components/Images/jake-weirick-star\ wallpaper.jpg);
  background-size: 80%;
  background-attachment: fixed;
}


label {
  color: white;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}

/* TABLE PAGES */

.tablebox {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

button {
  background-color: black;
  color:white;
  border: none;
  margin:0px 4px 0px 4px;
  height: 100%;
}

.submitbtn {
  background-color: black;
  color:white;
  border: none;
}

.pageTitle {
  color: rgb(249, 243, 243);
}

.ufoReportsHeader {
  color: black;
  margin-top: -10px;
}

.wrapper {
  background-color: rgba(181, 181, 181, 0.103);
  box-shadow: 0 0 5px 5px rgba(181, 181, 181, 0.103);

  border-top: 10px;
  border-bottom: 10px;
  
  width: 100%;
  margin-top: 100px;
  padding-bottom: 21px;
  display: flex;
  justify-content: center;
}

.tablebox {
  background-color: rgba(160, 152, 152, 0.596);
  width: 700px;
  display: flex;
}
