

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,600;0,800;1,400&family=Archivo:ital,wght@0,100;0,800;1,100&family=Epilogue:wght@100;200;300;400;600;900&family=Hahmlet:wght@100;200;700;900&family=Josefin+Sans:ital,wght@0,600;0,700;1,500&family=Nunito+Sans:ital,wght@0,200;0,400;1,400&family=Poppins:ital,wght@0,200;0,300;0,600;0,800;1,300&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./components/Images/twinkleStarBackground.gif);
  background-size: 80%;
  background-attachment: fixed;
}

label {
  color: white;
}


/* TABLE PAGES */

.tablebox {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

button {
  background-color: black;
  color: white;
  border: none;
  margin: 0px 4px 0px 4px;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(var(--global-primary-colour));
  color: rgb(var(--global-tertiary-colour));
}
.submitbtn {
  background-color: black;
  color: white;
  border: none;
  margin-top: 10px;
  height: 30px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.submitbtn:hover {
  background-color: rgb(var(--global-primary-colour));
  color: rgb(var(--global-tertiary-colour));
}

.pageTitle {
  color: rgb(249, 243, 243);
}

.ufoReportsHeader {
  color: black;
  margin-top: -10px;
}

.wrapper {
  background-color: rgba(181, 181, 181, 0.103);
  box-shadow: 0 0 5px 5px rgba(181, 181, 181, 0.103);
  border-top: 10px;
  border-bottom: 10px;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 21px;
  display: flex;
  justify-content: center;
}

.tablebox {
  background-color: rgba(160, 152, 152, 0);
  width: 700px;
}

/*___REPORT_MANAGEMENT_________________________________________________________ */

.TitleBox {
  background-color: rgba(137, 43, 226, 0);
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  text-decoration: #12d3ba;
  /* border-top-style: solid; */
  border-bottom-style: solid;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.reportApp {
  display: flex;
  justify-content: center;
}

.reportBox {
  margin-top: 60px;
  background-color: rgba(125, 125, 125, 0.68);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .wapper {
  width: 100%;
  background-color: rgb(var(--global-tertiary-colour));
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
} */

.DescriptionBoxElements {
  background-color: rgba(255, 127, 80, 0);
}

.ReportManagement-Form-Box {
  display: flex;
  color: red;
  width: 50%;
  /* margin top and left temporary solution to center report submit form */
  margin-top: 50px;
  margin-left: 280px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReportManagement-Form-Box button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionTextBox {
  width: 600px;
  height: 150px;
}

.tableWithUserReports {
  width: 50%;
  height: 90px;
  margin-left: 25%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(130, 130, 130, 0);
}

thead,
tbody {
  display: block;
  width: 100%;
}

.tbodyReportManagement {
  height: 300px;
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}

/* ADD WRITTEN BUTTON */
.add-button {
  margin-left: 290px;
  width: 45px;
  height: 30px;
  border-radius: 0%;
  position: relative;
  overflow: hidden;
  color: white;
}

.add-button {
  background: #12d3ba;
  border: 4px solid #000000;
}

.add-button:hover {
  transform: scale(1.1);
}

/*LOGIN BUTTON */

/* get rid of switch button background so it has less attention as the submit button , or less wide */
button #switch {
  width: 20px;
}
