.locationWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 0, 0);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  height: 100vh;
}

.boxOne p {
  margin-top: 57px;
  color: white;
  font-size: 1.2rem;
  width: 30vw;
}

#p1 {
  font-weight: bold;
}

#p1cursive {
  font-style: italic;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

:root {
  --global-primary-colour: 30, 96, 145;
  --global-secondary-colour: 82, 182, 154;
  --global-tertiary-colour: 252, 163, 17;

  --font-primary-colour: white;
  --font-inverted-colour: black;
}

.boxOne {
  margin-top: 40px;
  background-color: #ffc0cb00;
  margin-left: 150px;
  display: flex;
  margin-left: 120px;
}

.locationTitle {
  /* color: #79bdd0; */
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  /* font-family: "Orbitron", sans-serif; */
  font-style: italic;
  font-size: 60px;
  text-align: left;
  margin-top: 49px;
}

.inlineLink {
  font-style: italic;
  color: #fc6466;
}

.inlineLink:hover {
  font-style: italic;
  text-decoration: underline;
}

/* .wrapper {
  width: 100%;
} */

h2 {
  position: absolute;
  font-size: 1rem;
  top: 197px;
  left: 550px;
  color: #ffffff;
  z-index: 10;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}
.mapMap {
  margin-top: -200px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}

.search {
  position: absolute;
  top: 200px;
  left: 830px;
  transform: translateX(-50%);
  width: 50%;
  max-width: 300px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  padding-bottom: 10px;
}

.locate {
  position: absolute;
  top: 17rem;
  right: 7rem;
  background: none;
  border: none;
  z-index: 1;
}
.locate img {
  width: 50px;
  cursor: pointer;
}

#map {
  position: absolute;
  top: 270px;
  left: 548px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container-map {
  box-sizing: initial;
}
