/* 
GOOGLE FONTS

font-family: 'Andada Pro', serif;
font-family: 'Archivo', sans-serif;
font-family: 'Epilogue', sans-serif;
font-family: 'Hahmlet', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Josefin Sans', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,600;0,800;1,400&family=Archivo:ital,wght@0,100;0,800;1,100&family=Epilogue:wght@100;200;300;400;600;900&family=Hahmlet:wght@100;200;700;900&family=Josefin+Sans:ital,wght@0,600;0,700;1,500&family=Nunito+Sans:ital,wght@0,200;0,400;1,400&family=Poppins:ital,wght@0,200;0,300;0,600;0,800;1,300&display=swap");

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(./components/Images/jake-weirick-star\ wallpaper.jpg);
  background-size: 80%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}

/* TABLE PAGES */

.tablebox {
  display: flex;
  justify-content: flex-start;
}

.pageTitle {
  color: rgb(249, 243, 243);
}

.ufoReportsHeader {
  color: black;
  margin-top: -10px;
}

.tablebox {
  background-color: rgba(160, 152, 152, 0.616);
  width: 700px;
  display: flex;
  margin-top: -24px;
}
