@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Share+Tech+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.locationTitle {
  color: #fca311;
  font-family: 'Orbitron', sans-serif;
  text-decoration: underline;
  font-style: italic;
  font-size: 60px;
  text-align: left;
  margin-left: 0%;
  padding-left: 0%;
  padding-top: 7%;
  padding-right: 1300px;

}

.locationIntro {
  color: #E5E5E5;
  font-family: 'Share Tech Mono', monospace;
  padding-top: 100px;
  padding-left: 50px;
  font-size: 30px;

}

h2 {
  position: absolute;
  font-size: 40px;
  top: 16.5rem;
  left: 62rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 9600px;
  padding: 0%;
  height: 3000px;
}

.search {
  position: absolute;
  top: 17rem;
  left: 80%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 300px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 17rem;
  right: 7rem;
  background: none;
  border: none;
  z-index: 1;
}
.locate img {
  width: 50px;
  cursor: pointer;
}

#map {
  position: absolute;
  top: 15rem;
  left: 60rem;
}